.hero2 {
    padding: 167px 300px 168px 300px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-bottom: 67px;
}

.hero2 h1 {
    font-family: 'Mulish';
    font-size: 96px;
    text-align: center;
    font-weight: 700;
    color: white;
}

.search h2 {
    font-family: 'Mulish';
    font-size: 36px;
    font-weight: 700;
    color:  #000000;
    text-align: center;
}

.search .garis {
    margin-bottom: 44px;
}


