.search .garis {
    margin-top: 30px;
    margin-bottom: 30px;
}

.consulting-4 {
    margin-top: 208px !important;
    margin-bottom: 51px;
}

.search h2 {
    font-size: 36px;
    font-weight: 700;
    color:  #000000;
    text-align: center;
}
.text-center button {
    font-weight: 700;
    font-size: 19px;
    width: 170px;
    height: 65px;

    /* or 250% */

    color: #FFFFFF;

    margin-top: 90px;
    background: #46D643;
    border: 1px solid #46D643;
    border-radius: 10px;
}

