.consulting-2 {
    margin-top: 150px !important;
    margin-bottom: 50px;

}


.consulting-2 h2 {

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 29px;
    /* identical to box height, or 117% */


    color: #000000;
}

.consulting-2 h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px !important;
    line-height: 28px;
    margin-bottom: 57px;
    /* identical to box height, or 78% */


    color: #7D7987;
}

.consulting-2 p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    /* or 333% */


    color: #000000;

}

.consulting-2 button {
    background-color: transparent !important;
    width: 550px;
    height: 77px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135.5%;
    border: #458DFC solid 1px !important;
    /* identical to box height, or 33px */
    border: 1px solid #458FF6;
    border-radius: 8px;


    color: #458DFC;

}
